// Panel widths
$panelWidth: 400px;
$leftPanelHeight: 500px;
$rightPanelHeight: 450px;
$topPanel: 50px;

// Colors
$panelColor: red;

.pokedex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
}

/* Frame */
// Left Panel
.left-panel {
  height: $leftPanelHeight;
  width: $panelWidth;
  background-color: $panelColor;
}

.left-top-panel {
  height: $topPanel;
  width: $panelWidth;
  background-color: yellow;
}

.pokemon-view-panel {
  width: 75%;
  height: 50%;
  // background-color: rgb(231, 231, 231);
  margin: auto;
  margin-top: 10%;
}

.pokemon-view-panel > div {
  display: flex;
}

.pokemon-model-container {
}

.pokemon-img {
  width: 150px;
}

.pokemon-types-container {
  display: flex;
  margin-left: 5px;
}

.element-type {
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
  border: 1px solid white;
}

// Stats
.pokemon-stats-container {
  position: relative;
}

.pokemon-stats-table {
  text-align: left;
  font-size: 0.9em;
}

.pokemon-viewer-pagination-container {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}

.pokemon-viewer-pagination-container > button {
  margin-left: 5px;
}

.config-panel {
  display: flex;
  width: 75%;
  height: 15%;
  background-color: white;
  margin: auto;
  margin-top: 10%;
}

// Config buttons
.navigation-btn {
  width: 60px;
  height: 60px;
  background-color: grey;
  margin-left: 10px;
  margin-top: 2.5%;
}

.console-btn {
  text-shadow: 1px 1px pink, -1px -1px maroon;

  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  width: 2em;
  height: 2em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 0.75em;
  background-color: red;
  -webkit-box-shadow: 0 0.2em maroon;
  -moz-box-shadow: 0 0.2em maroon;
  -o-box-shadow: 0 0.2em maroon;
  box-shadow: 0 0.2em maroon;
  color: red;
  margin: 5px;
  margin-top: 5%;
  margin-left: 5%;
  background-color: red;
  background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
  background-image: -moz-linear-gradient(
    left top,
    pink 3%,
    red 22%,
    maroon 99%
  );
  background-image: -webkit-linear-gradient(
    left top,
    pink 3%,
    red 22%,
    maroon 99%
  );
  background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
  cursor: pointer;
  padding-left: 5px;
}

// Right panel
.right-panel {
  width: $panelWidth;
  height: $rightPanelHeight;
  background-color: $panelColor;
  margin-top: $topPanel;
}

.navigation-panel {
}

.navigation-container {
  width: 75%;
  height: 80%;
  background-color: grey;
  margin: auto;
  margin-top: 10%;
}

.search-container {
  padding: 10px;
}

.search-container > input {
  height: 1.3rem;
  width: 90%;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.pokemon-list-name {
  width: 45%;
  text-align: left;
  word-spacing: 0.8rem;
  line-height: 1.2rem;
  margin: 5px;
  font-size: 0.8rem;
}

.pokemon-list-name:hover {
  background-color: white;
  cursor: pointer;
}

// Middle axel
.middle-axel {
  width: 50px;
  background-color: orange;
}
